

<div class="container-profile-edit">
    <h2 id="header-profile-edit">Edit your profile</h2>
        {{#if error}}
        <h2>{{> error-page}}</h2>
        {{/if}}
    <form Method="POST" class="profile-input-edit">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        First name:<br>
        <input type="text" name="firstname" placeholder="firstname"value="{{firstname}}">
        Last name:<br>
        <input type="text" name="lastname" placeholder="lastname"value="{{lastname}}">
        Email:<br>
        <input type="text" name="email" placeholder="email"value="{{email}}">
        Password:<br>
        <input type="password" name="password" placeholder="password" value="">
        Age:<br>
        <input type="text" name="age" placeholder="age"value="{{age}}">
        City:<br>
        <input type="text" name="city" placeholder="city"value="{{city}}">
        Homepage:<br>
        <input type="url" name="homepage" placeholder="homepage"value="{{homepage}}">
        <button id="update-button">update</button>
    </form>
    {{> logoutButton}}
</div>
