{{> menuBar}}

<div class="container-signers">
    <h2 class='signers-title'>The change makers</h2>
    {{#signerslist}}
        <h3 class='list-signers'>{{first_name}} {{last_name}}  ({{age}}, <a href="/signers/{{city}}">{{city}}</a>)</h3>
    {{/signerslist}}

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/scriptSignerPage.js"></script>
