

<div class="container-signers">
    <h1 class='main-title-in-signers'>Tell me more about my clothes...</h1>
    <h2 class='signers-title'>The change makers</h2>
    {{#signerslist}}
        <h3 class='list-signers'>{{first_name}} {{last_name}}  ({{age}}, <a href="/signers/{{city}}">{{city}}</a>)</h3>
    {{/signerslist}}

    {{> logoutButton}}
</div>
